
/*
* text
*/
.link {
    color: $text_theme;
    text-decoration: underline;
}
.error {
    color: $sys_red;
}
.pageTitle {
    font-size: 24px;
    color: $text_title;
}
.no-data {
    display: block;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 14px;
    color: $text_pry_disable;
}

/*
* button
*/
.btn {
    text-align: center;
    border-radius: 3px;
    padding: 0 15px;
    cursor: pointer;
}
.largeBtn {
    min-width: 80px;
    line-height: 42px;
    height: 42px;
    font-size: 16px;
    @extend .btn;
}
.middleBtn {
    min-width: 50px;
    line-height: 32px;
    height: 32px;
    font-size: 14px;
    @extend .btn;
}
.smallBtn {
    min-width: 40px;
    line-height: 28px;
    height: 28px;
    font-size: 13px;
    @extend .btn;
}
.miniBtn {
    min-width: 40px;
    line-height: 18px;
    height: 20px;
    font-size: 12px;
    @extend .btn;
    padding:0 5px;
}
.themeBtn {
    color: #fff;
    background: $btn_theme;
    border: 1px solid transparent;
    &:hover{
        background-color: $text_theme_light;
    }
    &:active {
        background-color: $sys_subBlue;
        border-color: $sys_subBlue;
    }
}
.defaultBtn {
    color: $text_pry_light;
    background: $btn_default;
    border: 1px solid $border_default;
}
.submitBtn {
    color: #fff;
    background: $btn_submit;
    border: 1px solid $btn_submit;
}

//主题色按钮
.themeLBtn,
.themeLBtn:hover,
.themeLBtn:focus {
    @extend .themeBtn;
    @extend .largeBtn;
}
.themeMBtn,
.themeMBtn:hover,
.themeMBtn:focus {
    @extend .themeBtn;
    @extend .middleBtn;
}
.themeSBtn,
.themeSBtn:hover,
.themeSBtn:focus {
    @extend .themeBtn;
    @extend .smallBtn;
}

//默认按钮
.defaultMBtn,
.defaultMBtn:hover,
.defaultMBtn:focus {
    @extend .defaultBtn;
    @extend .middleBtn;
}
.defaultSBtn,
.defaultSBtn:hover,
.defaultSBtn:focus {
    @extend .defaultBtn;
    @extend .smallBtn;
}
.defaultHoverBtn {
    @extend .smallBtn;
    font-size: 14px;
    &:hover {
        background-color: #e9e9e9;
        color: $text_pry_light;
        border-color: transparent;
    }
}

//提交按钮
.submitMBtn,
.submitMBtn:hover,
.submitMBtn:focus {
    color: #fff;
    background: $btn_submit;
    @extend .middleBtn;
    &.is-disabled, &.is-disabled:hover, &.is-disabled:focus{
        color: $text_pry_disable;
        background: $btn_submit_hover;
    }
}
.submitSBtn,
.submitSBtn:hover,
.submitSBtn:focus {
    color: #fff;
    background: $btn_submit;
    @extend .smallBtn;
}

//返回按钮
.backMBtn,
.backMBtn:hover,
.backMBtn:focus {
    color: $text_theme;
    border: 1px solid $btn_theme;
    @extend .middleBtn;
}


@mixin dot-mod {
    border-radius: 50%;
    margin-right: 5px;
    width: 6px;
    height: 6px;
    display: inline-block;
    vertical-align: middle;
}

//小圆点
.dot-red {
    @include dot-mod;
    background-color: $sys_red;
}
.dot-blue {
    @include dot-mod;
    background-color: $sys_blue;
}
.dot-green {
    @include dot-mod;
    background-color: $sys_green;
}


/*
* icon
*/

/*
* alertTip
*/

/*
* input  /select
*/


/*icon*/

@mixin icon($h:auto, $w: $h) {
    height: $h;
    width: $w;
    display: inline-block;
    vertical-align: middle;
    background-size: $w $h;
    & + span {
        vertical-align: middle;
    }
}

.theme_i_warning {
    @include icon(16px);
    // background-image: url("~@/assets/icon/warning.png");
}

