@charset "utf-8";
$main_color:#4D8AED;
$sys_blue:#4D8AED;
$sys_red:#F74353;
$sys_green:#51B774;
$sys_org:#F5A623;
$sys_subBlue:#2966E9;

/*
*background color variable 
*/
$bg_body:#F3F4F9;
$bg_menu:#F9F9F9;

/*
* text color variable
*/
$text_theme:#4D8AED;   //主题文字颜色
$text_theme_light:#75A7F8; 
$text_pry:#333333;   //界面主色调文字颜色
$text_pry_light:#777777;
$text_pry_disable:#AAAAAA;
$text_title:#333333; 

/*
* button color variable
*/

$btn_theme:#4D8AED;   //主题按钮颜色
$btn_theme_hover:#75A7F8; 
$btn_theme_active:#2966E9;

$btn_submit:#51B774; 
$btn_submit_hover:#85D9A2; 
$btn_submit_active:#19AF4A; 

$btn_default:#f6f6f6;
$btn_default_hover:#E9E9E9;
$btn_default_active:#C1C1C1;


/*
* line color variable
*/

$border_theme:#5A97EE;
$border_dark:#464646;
$border_default:#E9E9E9;

